@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Badminton.Models.ScoreCalc.ScoreCalcIndexModel
@section scripts{
    @Scripts.Render("~/Scripts/ScoreCalcJS/ScoreCalcJS.js")
}

@if (this.Model.ErrorState)
{
    <div id="StateMessageDialog" title="State Message">
        <p>
            @this.Model.StateMessage.<br />
            <br />
        </p>
    </div>
}       <div id="dashboard" class="dashboard dashboard-draggable">
    <section class="row">
        <div class="col-md-7 col-sm-6">
            <div class="panel panel-default" data-id="1">
                <div class="panel-heading">
                    <i class="icon icon-list"></i>
                    <span class="title">积分计算参数设置</span>
                </div>
                <div class="panel-body" style="overflow:scroll; height:700px;">
                    <form name="ParamaterSetup" method="post">
                        @for (var index = 0; index < this.Model.WaitingMatchList.Count; index++)
                        {
                            @Html.HiddenFor(m => m.WaitingMatchList[index].ID)
                            @Html.HiddenFor(m => m.WaitingMatchList[index].MatchDate)
                            @Html.HiddenFor(m => m.WaitingMatchList[index].MatchTitle)
                            @Html.HiddenFor(m => m.WaitingMatchList[index].MatchScore)

                            @Html.HiddenFor(m => m.WaitingMatchList[index].Winner1ID)
                            @Html.HiddenFor(m => m.WaitingMatchList[index].Winner2ID)
                            @Html.HiddenFor(m => m.WaitingMatchList[index].Loser1ID)
                            @Html.HiddenFor(m => m.WaitingMatchList[index].Loser2ID)
                            @Html.HiddenFor(m => m.WaitingMatchList[index].Winner1Name)
                            @Html.HiddenFor(m => m.WaitingMatchList[index].Winner2Name)
                            @Html.HiddenFor(m => m.WaitingMatchList[index].Loser1Name)
                            @Html.HiddenFor(m => m.WaitingMatchList[index].Loser2Name)

                            @Html.HiddenFor(m => m.WaitingMatchList[index].Comments)
                        }
                        @for (var index = 0; index < this.Model.AddBonusInfoList.Count; index++)
                        {
                            @Html.HiddenFor(m => m.AddBonusInfoList[index].ID)
                            @Html.HiddenFor(m => m.AddBonusInfoList[index].MatchID)
                            @Html.HiddenFor(m => m.AddBonusInfoList[index].MemberID)
                            @Html.HiddenFor(m => m.AddBonusInfoList[index].MembernName)
                            @Html.HiddenFor(m => m.AddBonusInfoList[index].ChampionID)
                            @Html.HiddenFor(m => m.AddBonusInfoList[index].ChampionTitle)
                            @Html.HiddenFor(m => m.AddBonusInfoList[index].BonusTypeID)
                            @Html.HiddenFor(m => m.AddBonusInfoList[index].BonusTypeDescription)
                            @Html.HiddenFor(m => m.AddBonusInfoList[index].Score)
                        }
                        @for (var index = 0; index < this.Model.AddScoreInfoList.Count; index++)
                        {
                            @Html.HiddenFor(m => m.AddScoreInfoList[index].ID)
                            @Html.HiddenFor(m => m.AddScoreInfoList[index].MemberID)
                            @Html.HiddenFor(m => m.AddScoreInfoList[index].MemberName)
                            @Html.HiddenFor(m => m.AddScoreInfoList[index].Score)
                            @Html.HiddenFor(m => m.AddScoreInfoList[index].Comments)
                            @Html.HiddenFor(m => m.AddScoreInfoList[index].PeriodEnd)
                        }
                        @for (var index = 0; index < this.Model.UpdateMemberList.Count; index++)
                        {
                            @Html.HiddenFor(m => m.UpdateMemberList[index].ID)
                            @Html.HiddenFor(m => m.UpdateMemberList[index].MemberName)
                            @Html.HiddenFor(m => m.UpdateMemberList[index].OriginalScore)
                            @Html.HiddenFor(m => m.UpdateMemberList[index].UpdateScore)
                            @Html.HiddenFor(m => m.UpdateMemberList[index].OriginalRank)
                            @Html.HiddenFor(m => m.UpdateMemberList[index].UpdateRank)
                            @Html.HiddenFor(m => m.UpdateMemberList[index].Comments)
                        }

                        @Html.HiddenFor(m => m.Parameters.ActionSteps)

                        <table class="table">
                            <thead></thead>
                            <tbody>
                                <tr>
                                    <td style="width:100px;">单打忽略值：</td>
                                    <td style="width:50px;">@Html.TextBoxFor(m => m.Parameters.SingleIgnore)</td>
                                    <td style="width:100px;">双打忽略值：</td>
                                    <td style="width:50px;">@Html.TextBoxFor(m => m.Parameters.DoubleIgnore)</td>
                                </tr>
                                <tr><td colspan="4"><b>基本输赢奖励</b></td></tr>
                                <tr>
                                    <td>单打胜：</td>
                                    <td>@Html.TextBoxFor(m => m.Parameters.SingleWin)</td>
                                    <td>单打负：</td>
                                    <td>@Html.TextBoxFor(m => m.Parameters.SingleLose)</td>
                                </tr>
                                <tr>
                                    <td>双打胜：</td>
                                    <td>@Html.TextBoxFor(m => m.Parameters.DoubleWin)</td>
                                    <td>双打负：</td>
                                    <td>@Html.TextBoxFor(m => m.Parameters.DoubleLose)</td>
                                </tr>
                                <tr><td colspan="4"><b>排名奖励</b></td></tr>
                                <tr>
                                    <td>对手排名高出：</td>
                                    <td>@Html.TextBoxFor(m => m.Parameters.Rank1End)</td>
                                    <td>奖励积分：</td>
                                    <td>@Html.TextBoxFor(m => m.Parameters.RankBonus1)</td>
                                </tr>
                                <tr>
                                    <td>对手排名高出：</td>
                                    <td>@Html.TextBoxFor(m => m.Parameters.Rank2End)</td>
                                    <td>奖励积分：</td>
                                    <td>@Html.TextBoxFor(m => m.Parameters.RankBonus2)</td>

                                </tr>
                                <tr>
                                    <td>对手排名高出：</td>
                                    <td>@Html.TextBoxFor(m => m.Parameters.Rank3End)</td>
                                    <td>奖励积分：</td>
                                    <td>@Html.TextBoxFor(m => m.Parameters.RankBonus3)</td>
                                </tr>
                                <tr>
                                    <td>对手排名高出：</td>
                                    <td>@Html.TextBoxFor(m => m.Parameters.Rank4End)</td>
                                    <td>奖励积分：</td>
                                    <td>@Html.TextBoxFor(m => m.Parameters.RankBonus4)</td>
                                </tr>                                
                            </tbody>
                            <tfoot>
                                <tr><td colspan="4" height="15"></td></tr>
                                <tr>
                                    <td><button type="submit" class="btn" value="积分计算预览" onclick="toCalcToReview()">积分计算预览</button></td>
                                    <td><button type="submit" class="btn " value="周期调整预览" onclick="toAdjustAccordingToDateRange()">周期调整预览</button></td>
                                    <td><button type="submit" class="btn " value="保存到数据库" onclick="toSaveScoreEntry()">保存到数据库</button></td>
                                    <td></td>
                                </tr>
                            </tfoot>
                        </table>
                        <br />
                        <table>
                            <caption><b>周期调整参数设置</b></caption>
                            <tr>
                                <td>设定基准时间：</td>
                                <td>@Html.TextBoxFor(m => m.Parameters.StandDate, new { id = "EditStandDatePickerEdit" })</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                        <br />
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>最近</td>
                                    <td> @Html.TextBoxFor(m => m.Parameters.DateRange1)</td>
                                    <td>/周</td>
                                    <td>比例:</td>
                                    <td>@Html.TextBoxFor(m => m.Parameters.Rate1)</td>
                                </tr>
                                <tr>
                                    <td>最近</td>
                                    <td>@Html.TextBoxFor(m => m.Parameters.DateRange2)</td>
                                    <td>/周</td>
                                    <td>比例:</td>
                                    <td>@Html.TextBoxFor(m => m.Parameters.Rate2)</td>
                                </tr>
                                <tr>
                                    <td>最近</td>
                                    <td>@Html.TextBoxFor(m => m.Parameters.DateRange3)</td>
                                    <td>/周</td>
                                    <td>比例:</td>
                                    <td>@Html.TextBoxFor(m => m.Parameters.Rate3)</td>
                                </tr>
                                <tr>
                                    <td>最近</td>
                                    <td>@Html.TextBoxFor(m => m.Parameters.DateRange4)</td>
                                    <td>/周</td>
                                    <td>比例:</td>
                                    <td>@Html.TextBoxFor(m => m.Parameters.Rate4)</td>
                                </tr>
                                <tr>
                                    <td>早期</td>
                                    <td></td>
                                    <td></td>
                                    <td>比例:</td>
                                    <td>@Html.TextBoxFor(m => m.Parameters.Rate5)</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td></td>
                                    <td><input type="submit" class="btn" value="周期调整预览" onclick="toOnlyAdjustAccordingToDateRange()" /></td>
                                    <td></td>
                                    <td></td>
                                    <td><input type="submit" class="btn" value="保存到数据库" onclick="toSaveUpdateMemberScore()" /></td>
                                </tr>
                            </tfoot>
                        </table>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-sm-6">
            <div class="panel panel-default" data-id="2">
                <div class="panel-heading">
                    <i class="icon icon-list"></i>
                    <span class="title">本次周期调整后的排行榜</span>
                </div>
                <div class="panel-body" style="overflow:scroll;height:700px;">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>编号</td>
                                <td>姓名</td>
                                <td>积分变化</td>
                                <td>名次变化</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in this.Model.UpdateMemberList)
                            {
                                <tr>
                                    <td>@item.ID</td>
                                    <td>@item.MemberName</td>
                                    <td data-toggle="tooltip" title="@item.Comments">@item.OriginalScore -> @item.UpdateScore </td>
                                    <td data-toggle="tooltip" title="@item.Comments">@item.OriginalRank -> @item.UpdateRank</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>
@*<div style="width:55%;height:800px; float:right; text-align:center;overflow:scroll;">

    </div>*@

@*<div style="width:45%; height:800px;float:left; text-align:center;overflow:scroll;">

    </div>*@
<div id="dashboard" class="dashboard dashboard-draggable" data-height="800">
    <section class="row">
        <div class="col-md-7 col-sm-6">
            <div class="panel panel-default" data-id="1">
                <div class="panel-heading">
                    <i class="icon icon-list"></i>
                    <span class="title">本次将增加的积分记录(BonusInfo)</span>
                </div>
                <div class="panel-body" style="overflow:scroll;height:600px">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>姓名</td>
                                <td>赛事</td>
                                <td>积分</td>
                                <td>积分类型</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in this.Model.AddBonusInfoList)
                            {
                                <tr>
                                    <td>@item.MembernName</td>
                                    <td data-toggle="tooltip" title="@item.ChampionTitle">@item.MatchID</td>
                                    <td>@item.Score</td>
                                    <td>@item.BonusTypeDescription</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-sm-6">
            <div class="panel panel-default" data-id="1">
                <div class="panel-heading">
                    <i class="icon icon-list"></i>
                    <span class="title">本次将增加的汇总记录(ScoreInfo)</span>
                </div>
                <div class="panel-body" style="overflow:scroll;height:600px">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>姓名</td>
                                <td>更新的积分</td>
                                <td>PeriodEnd</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in this.Model.AddScoreInfoList)
                            {
                                <tr>
                                    <td>@item.MemberName</td>
                                    <td data-toggle="tooltip" title="@item.Comments">@item.Score</td>
                                    <td>@item.PeriodEnd</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>

<div id="dashboard" class="dashboard dashboard-draggable" data-height="800">
    <section class="row">
        <div class="col-md-12 col-sm-12">
            <div class="panel panel-default" data-id="1">
                <div class="panel-heading">
                    <i class="icon icon-list"></i>
                    <span class="title">等待计算的比赛记录</span>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>比赛时间</th>
                                <th>所属赛事</th>
                                <th>比分</th>
                                <th>获胜选手1</th>
                                <th>获胜选手2</th>
                                <th>失败选手1</th>
                                <th>失败选手2</th>
                                <th style="text-align:left">Commnets</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in this.Model.WaitingMatchList)
                            {

                                <tr>
                                    <td>@item.MatchDate</td>
                                    <td>@item.MatchTitle</td>
                                    <td>@item.MatchScore</td>
                                    <td>@item.Winner1Name</td>
                                    <td>@item.Winner2Name</td>
                                    <td>@item.Loser1Name</td>
                                    <td>@item.Loser2Name</td>
                                    <td style="text-align:left">@item.Comments</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
            </div>
        </section>
    </div>
                    @*<div style="width:100%;float:left; text-align:left;overflow:scroll;">
                        
                    </div>*@

<script src="~/Scripts/dist/lib/datetimepicker/datetimepicker.min.js"></script>
