@{
    ViewBag.Title = "Book Search";
}
@model Wicresoft.MODLibrarySystem.WebUI.Models.BookManage.BookManageIndexModel
<style type="text/css">
 [class^="major"] {
 }

[class^="related"] {
  display:none;
   /*left:1px;
  top:1px;*/
  width:422px; 
  min-height:53px; 
  padding:10px;
  color:#000000;
  background:#CCCCCC; 
  position:fixed; 
  z-index:999999; 
  border: 1px solid #5e4e3f;
}

</style>

<script type="text/javascript">
    var MouseEvent = function (e) {
        this.x = e.pageX
        this.y = e.pageY
    }

    var Mouse = function (e) {
        var kdheight = jQuery(document).scrollTop();
        mouse = new MouseEvent(e);
        leftpos = mouse.x + 10;
        toppos = mouse.y - kdheight + 10;
    }
    
    function mIn(i){
        var relatedStr = ".related" + i.toString();
        Mouse(window.event);
        jQuery(relatedStr).css({ top: toppos, left: leftpos }).fadeIn(100);
    }

    function mOut(i){
        var relatedStr = ".related" + i.toString();
        jQuery(relatedStr).hide();
    }
</script>


@using (Html.BeginForm())
{
    <div class="jumbotron" style="height:1000px; font-size:small">
        <div>
            <span>BookName</span>
            @Html.TextBoxFor(m => m.SearchBookName)
            <span>Category</span>
            @Html.DropDownListFor(m => m.SearchSelectedID, this.Model.SearchCategoryList)
            <span>Can be Reserve</span> @Html.CheckBoxFor(m => m.IsAvaliable)
            <input type="submit" value="Search" />
        </div>
        <div>
            <span>Book Search List</span>
        </div>
        @if (this.Model.BookModelList.Count > 0)
        {
            for (int i = 0; i < this.Model.BookModelList.Count; i++)
            {
                string relatedStr = "related" + i.ToString();
                <div class=@relatedStr>@this.Model.BookModelList[i].PublisherDisplayDescription</div>
                <div style="width:30%;float:left">                 
                    <table style="width:300px; height:350px">
                        <tr>
                            <td rowspan="6" style="height:150px;width:100px"><img width="100" height="150" src="~/Content/images/DefaultPic.jpg" /></td>
                            <th>
                                Book
                            </th>
                            <td>
                                @this.Model.BookModelList[i].BookName
                            </td>
                        </tr>
                        <tr>
                            <th>
                                ISBN
                            </th>
                            <td>
                                @this.Model.BookModelList[i].ISBN
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Price
                            </th>
                            <td>
                                @this.Model.BookModelList[i].Price_Inventory
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Avaliable
                            </th>
                            <td>
                                @this.Model.BookModelList[i].Avaliable_Inventory
                            </td>
                        </tr>
                        <tr>
                            <th>
                                MaxAvaliable
                            </th>
                            <td>
                                @this.Model.BookModelList[i].Max_Inventory
                            </td>
                        </tr>
                        <tr>
                            <th>
                                PublishDate
                            </th>
                            <td>
                                @this.Model.BookModelList[i].Publish_Date
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Publisher
                            </th>
                            <td colspan="2" onmouseover="mIn(@i);" onmouseout="mOut(@i);">
                                @this.Model.BookModelList[i].PublisherName
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Author
                            </th>
                            <td colspan="2">
                                @Html.TextAreaFor(m => this.Model.BookModelList[i].AuthorName, new { @readonly = "readonly" })
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Catagory
                            </th>
                            <td colspan="2">
                                @Html.TextAreaFor(m => this.Model.BookModelList[i].CatagoryName, new { @readonly = "readonly" })
                            </td>
                        </tr>

                        <tr>
                            <td colspan="3">
                                @if (this.Model.BookModelList[i].IsAvaliable)
                                {
                                    @Html.ActionLink("Reserve", "ReserveBook", new { @id = this.Model.BookModelList[i].ID })
                                }
                                else
                                {
                                    <span style="color:gray">Reserve</span>
                                }
                            </td>
                        </tr>
                    </table>
                </div>
                if (i == 2)
                {
                    <div style="width:100%;float:left">
                        <span>-----------------</span>
                    </div>
                }
            }
        }
        else
        {
            <div style="width:100%;float:left">
                <span>No Result.</span>
            </div>
        }
        <div style="width:100%;float:left">
            <table>
                <tr>
                    @Html.Raw(this.Model.PagingContent.PagingViewContent)
                </tr>
            </table>
        </div>
    </div>
}
