@{
    Layout = null;
}

<!DOCTYPE html>
<script src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
<script>
    $(document).ready(function () {
        if ('@ViewBag.IsLogin' == 'False' && '@ViewBag.IsAuthenticated' == 'True') {
            window.location = '@Url.Action("NotPermission", "LoginAndRegister", null)';
        }
    });
</script>
<div>
    @if (ViewBag.IsLogin)
    {
        <span style="color:white">
            Welcome to MOD Library System: @ViewBag.LoginName
        </span>
        <span>
            @if (!String.IsNullOrEmpty(System.Web.Configuration.WebConfigurationManager.AppSettings["WEBSITE_AUTH_LOGOUT_PATH"]))
            {
                <a href="@System.Web.Configuration.WebConfigurationManager.AppSettings["WEBSITE_AUTH_LOGOUT_PATH"]">Login out</a>
            }
            else
            {
                @Html.ActionLink("Login out", "LoginOut", "Login", null, null)
            }
        </span>
    }
    else
    {
        <span style="color:white">
            @Html.ActionLink("Please to Login", "Index", "LoginAndRegister", null, null)
        </span>
    }
</div>
