@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Badminton.Models.ScoreList.ScoreListIndexModel
@section scripts{
    @Scripts.Render("~/Scripts/ScoreListJS/ScoreListJS.js")
    @Scripts.Render("~/Scripts/dist/lib/chart/zui.chart.min.js")
}

@using (Html.BeginForm())
{
    <br />
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-1">成员姓名</label>
                    <div class="col-md-3 col-sm-3">
                        <input class="form-control" type="text" id="selectMemberNameTxt" list="SearchMemberList" />
                    </div>
                    <datalist id="SearchMemberList">
                        @foreach (var item in this.Model.SearchMemberList)
                        {
                            <option value=@item.Text />
                        }
                    </datalist>
                    @Html.DropDownListFor(m => m.SearchSelectedID, this.Model.SearchMemberList, new { style = "display:none" })
                    <div class="col-sm-1">
                        <a class="btn btn-default" onclick="selectThisGuy()">Select</a>
                    </div>
                    <div class="col-md-5 ">
                        <a href="#" class="btn btn-default" role="button" onclick="showSelectedRows()">只显示选中人员</a>
                        <a href="#" class="btn btn-default" role="button" onclick="showAllRows()">显示全部</a>
                        <a href="#" class="btn btn-default" role="button" onclick="showChart()">查看两人对战数据</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="chart" style="display:none">
            <p>
                <br />
            </p>
            <table class="table datatable">
                <center><h3>两人对战数据</h3></center>

                <tr style="text-align:center">
                    <td>单打胜率</td>
                    <td>双打胜率</td>
                    <td>混双胜率</td>
                </tr>
                <tr>
                    <td>
                        <canvas id="myChart1" height="300" width="300" requesturl="@Url.Action("GetJSONForSingles", "ScoreList")"></canvas>
                    </td>
                    <td>
                        <canvas id="myChart2" height="300" width="300" requesturl="@Url.Action("GetJSONForDoubles", "ScoreList")"></canvas>
                    </td>
                    <td>
                        <canvas id="myChart3" height="300" width="300" requesturl="@Url.Action("GetJSONForMixedDoubles", "ScoreList")"></canvas>
                    </td>
                </tr>
                <tr style="text-align:center">
                    <td id="legend_1" style="background:#F38630"></td>
                    <td></td>
                    <td id="legend_2" style="background:#E0E4CC"></td>
                </tr>
            </table>
        </div>

        <h3 class="text-center">积分列表</h3>
        <div class="datatable-head-span datatable-span flexarea">
            <div class="datatable-wrapper">
                <table id="scorelisttable" class="table datatable">
                    <thead>
                        <tr id="firstRow">
                            <th data-type="string">
                                姓名
                            </th>
                            <th data-type="number">
                                排名
                            </th>
                            <th data-type="number">
                                积分
                            </th>
                            <th data-type="number">
                                正规赛胜率
                            </th>
                            <th data-type="number">
                                平均胜率
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in this.Model.ScoreList)
                        {
                            string checkBoxId = "chk_list_" + item.ID;
                            string rowID = item.ID.ToString();
                            if (!item.Male)
                            {
                                <tr id=@rowID>
                                    <td>
                                        @item.MemberName
                                    </td>
                                    <td>
                                        @if (item.Score != 0)
                                        {
                                            if (item.Ranking == 1)
                                            { <img src="~/Content/images/1st.png" height="32" width="32" />}
                                            else if (item.Ranking == 2)
                                            { <img src="~/Content/images/2st.png" height="32" width="32" />}
                                            else if (item.Ranking == 3)
                                            { <img src="~/Content/images/3st.png" height="32" width="32" />}
                                            else
                                            {<span>&nbsp;&nbsp;&nbsp;@item.Ranking</span> }
                                        }
                                        else
                                        {
                                            <span>&nbsp;&nbsp;&nbsp;@item.Ranking</span>
                                        }
                                    </td>
                                    <td>
                                        @item.Score
                                    </td>
                                    <td>
                                        @item.WinRate%
                                    </td>
                                    <td>
                                        @item.AverageWinRate%
                                    </td>
                                   
                                </tr>
                            }
                            else
                            {
                                <tr id=@rowID style="background-color:rgba(244, 244, 244, 1)">
                                    <td>
                                        @item.MemberName
                                    </td>
                                    <td>
                                        @if (item.Score != 0)
                                        {
                                            if (item.Ranking == 1)
                                            { <img src="~/Content/images/1st.png" height="32" width="32" />}
                                            else if (item.Ranking == 2)
                                            { <img src="~/Content/images/2st.png" height="32" width="32" />}
                                            else if (item.Ranking == 3)
                                            { <img src="~/Content/images/3st.png" height="32" width="32" />}
                                            else
                                            {<span>&nbsp;&nbsp;&nbsp;@item.Ranking</span> }
                                        }
                                        else
                                        {
                                            <span>&nbsp;&nbsp;&nbsp;@item.Ranking</span>
                                        }
                                    </td>
                                    <td>
                                        @item.Score
                                    </td>
                                    <td>
                                        @item.WinRate%
                                    </td>
                                    <td>
                                        @item.AverageWinRate%
                                    </td>
                                </tr>
                            }

                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            @*<td colspan="11" align="right">@Html.Raw(this.Model.PagingContent.PagingViewContent)</td>*@
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        
    </div>
}
<script>
    $('#scorelisttable').datatable({
        sortable: true,
        checkable: true,
        storage:false
    });
</script>


