@{
    ViewBag.Title = "AddUser";
}
@model Wicresoft.MODLibrarySystem.Web.Models.UserManage.UserModel
@section scripts{
    @Scripts.Render("~/Scripts/UserManageJS/AddUser.js")
}
<h2>AddUser</h2>
@using (Html.BeginForm())
{
    <div class="jumbotron">
        <table>
            <caption>
                Add User
                @if (this.Model.ErrorState)
                {
                    <span style="color:red">@this.Model.StateMessage</span>
                }
            </caption>
            <tbody>
                <tr>
                    <th>DisplayName</th>
                    <td>
                        @Html.TextBoxFor(m => m.DisplayName) <span class="requireSpan">*</span>
                        <label id="DisplayName_errorData" errordatamessage="DisplayName is require and length must be less than 6 bytes." class="errorLable" />
                    </td>
                </tr>
                <tr>
                    <th>RealName</th>
                    <td>
                        @Html.TextBoxFor(m => m.RealName) <span class="requireSpan">*</span>
                        <label id="RealName_errorData" errordatamessage="RealName is require." class="errorLable" />
                    </td>

                </tr>
                <tr>
                    <th>LoginName</th>
                    <td>
                        @Html.TextBoxFor(m => m.LoginName) <span class="requireSpan">*</span>
                        <label id="LoginName_errorData" errordatamessage="LoginName is require." class="errorLable" />
                    </td>
                </tr>
                <tr>
                    <th>Password</th>
                    <td>
                        @Html.TextBoxFor(m => m.Password) <span class="requireSpan">*</span>
                        <label id="Password_errorData" errordatamessage="Password is require." class="errorLable" />
                    </td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>
                        @Html.TextBoxFor(m => m.Email) <span class="requireSpan">*</span>
                        <label id="Email_errorData" errordatamessage="Email is require and must be a email address." class="errorLable" />
                    </td>
                </tr>
                <tr>
                    <th>Floor</th>
                    <td>
                        @Html.DropDownListFor(m => m.SelectedFloor, this.Model.FloorList)
                    </td>
                </tr>
                <tr>
                    <th>PM</th>
                    <td>@Html.TextBoxFor(m => m.PM)</td>
                </tr>
                <tr>
                    <th>Team</th>
                    <td>@Html.TextBoxFor(m => m.Team)</td>
                </tr>
                <tr>
                    <th>ChineseName</th>
                    <td>@Html.TextBoxFor(m => m.Chinese_Name)</td>
                </tr>
                <tr>
                    <th>Wechat</th>
                    <td>@Html.TextBoxFor(m => m.Wechat)</td>
                </tr>
                <tr>
                    <th>Grade</th>
                    <td>@Html.DropDownListFor(m => m.Grade, this.Model.GradeList)</td>
                </tr>
                <tr>
                    <th>LatePoint</th>
                    <td>
                        @Html.TextBoxFor(m => m.Late_point) <span class="requireSpan">*</span>
                        <label id="Late_point_errorData" errordatamessage="Late_point is require and must be a number." class="errorLable" />
                    </td>
                </tr>
                <tr>
                    <th>Remark</th>
                    <td>@Html.TextBoxFor(m => m.Remark)</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Add" />
                        @Html.ActionLink("Back", "Index")
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
}