@{
    ViewBag.Title = "DetailUser";
}
@model Wicresoft.MODLibrarySystem.Web.Models.UserManage.UserModel
}
<h2>DetailUser</h2>
@using (Html.BeginForm())
{
    <div class="jumbotron">
        <table>
            <caption>
                Detail User
            </caption>
            <tr>
                <th>
                    ID
                </th>
                <td>
                    @this.Model.ID
                </td>
            </tr>
            <tr>
                <th>
                    DisplayName
                </th>
                <td>
                    @this.Model.DisplayName
                </td>
            </tr>
            <tr>
                <th>
                    RealName
                </th>
                <td>
                    @this.Model.RealName
                </td>
            </tr>
            <tr>
                <th>
                    LoginName
                </th>
                <td>
                    @this.Model.LoginName
                </td>
            </tr>
            <tr>
                <th>
                    Email
                </th>
                <td>
                    @this.Model.Email
                </td>
            </tr>
            <tr>
                <th>
                    Floor
                </th>
                <td>
                    @this.Model.Floor
                </td>
            </tr>
            <tr>
                <th>
                    PM
                </th>
                <td>
                    @this.Model.PM
                </td>
            </tr>
            <tr>
                <th>
                    Team
                </th>
                <td>
                    @this.Model.Team
                </td>
            </tr>
            <tr>
                <th>
                    Chinese_Name
                </th>
                <td>
                    @this.Model.Chinese_Name
                </td>
            </tr>
            <tr>
                <th>
                    Wechat
                </th>
                <td>
                    @this.Model.Wechat
                </td>
            </tr>
            <tr>
                <th>
                    Grade
                </th>
                <td>
                    @this.Model.Grade
                </td>
            </tr>
            <tr>
                <th>
                    LatePoint
                </th>
                <td>
                    @this.Model.Late_point
                </td>
            </tr>
            <tr>
                <th>
                    Remark
                </th>
                <td>
                    @this.Model.Remark
                </td>
            </tr>
            <tr>
                <td colspan="2">@Html.ActionLink("Edit", "EditUser", new { id = this.Model.ID }) @Html.ActionLink("Back", "Index") </td>
            </tr>
        </table>
    </div>
}
