@{
    ViewBag.Title = "User Manage";
}
@model Wicresoft.MODLibrarySystem.Web.Models.UserManage.UserManageIndexModel

@using (Html.BeginForm())
{
    <div class="jumbotron">
        <div>
            <span>DisplayName</span>
            @Html.TextBoxFor(m => m.FilterName)
            <input type="submit" value="Search" />
        </div>
        <table style="border-color:gray;border:1px;">
            <caption>System User List</caption>
            <thead>
                <tr>
                    <td colspan="7">
                        @Html.ActionLink("Add", "AddUser")
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        DisplyName
                    </th>
                    <th>
                        RealName
                    </th>
                    <th>
                        LoginName
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Floor
                    </th>
                    <th>
                        Operation
                    </th>
                </tr>
                @foreach (var item in this.Model.userModelList)
                {
                    <tr>
                        <td>
                            @item.ID
                        </td>
                        <td>
                            @item.DisplayName
                        </td>
                        <td>
                            @item.RealName
                        </td>
                        <td>
                            @item.LoginName
                        </td>
                        <td>
                            @item.Email
                        </td>
                        <th>
                            @item.Floor
                        </th>
                        <td>
                            @Html.ActionLink("Detail", "DetailUser", new { @id = item.ID })
                            @Html.ActionLink("Edit", "EditUser", new { @id = item.ID })
                            @Html.ActionLink("Delete", "DeleteUser", new { @id = item.ID })
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7" align="right">@Html.Raw(this.Model.PagingContent.PagingViewContent)</td>
                </tr>
            </tfoot>
        </table>
    </div>
}