@{
    ViewBag.Title = "EditCategory";
}
@model Wicresoft.MODLibrarySystem.Web.Models.CategoryManage.CategoryModel
@section scripts{
    @Scripts.Render("~/Scripts/CategoryManageJS/EditCategory.js")
}
<h2>EditCategory</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.ID)
    <div class="jumbotron">
        <table>
            <caption>
                Edit Category
                @if (this.Model.ErrorState)
                {
                    <span style="color:red">@this.Model.StateMessage</span>
                }
            </caption>
            <tbody>
                <tr>
                    <th>CategoryName</th>
                    <td>
                        @Html.TextBoxFor(m => m.CategoryName) <span class="requireSpan">*</span>
                        <label id="CategoryName_errorData" errordatamessage="CategoryName is required and can not include illegal char, short than 20." class="errorLable" />
                    </td>
                </tr>
                <tr>
                    <th>ParenetCategoryName</th>
                    <td>@Html.DropDownListFor(m => m.CategorySelectedID, this.Model.CategoryList)</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Edit" />
                        @Html.ActionLink("Back", "Index")
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
}