@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Wicresoft.BadmintonSystem.Wap.Models.MatchInput.MatchInputModel
@section scripts{
    @Scripts.Render("~/Scripts/MatchInput/MatchInputJS.js")
}
<br />

<div style="display:none">
    @Html.DropDownList("ChompionshipCompetingTypeList", this.Model.ChampionshipCompetingTypeList)
    @Html.DropDownList("SelectCompetingType", this.Model.CompetingList)
    @Html.DropDownList("MemberList", this.Model.SearchMemberList);
    @Html.DropDownList("MaleMemberList", this.Model.SearchMaleMemberList);
    @Html.DropDownList("FemaleMemberList", this.Model.SearchFemaleMemberList);
</div>
<div class="form-horizontal">
    <div class="form-group">
        <label class="col-md-1">选择赛事</label>
        <div class="col-md-4">
            @Html.DropDownList("SelectChampionship", this.Model.TrueActiveChampionshipList, new { onchange = "setCompetingType()", @class = "form-control" })
        </div>

    </div>
</div>

<div id="inputFeild" class="panel panel-info" hidden="hidden">
    <div class="panel-heading text-center">
        <b id="CompetingType"></b>&nbsp;&nbsp;<img src="~/Content/images/wing.png" height="40" width="40" />
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-2">
                            <label>比赛日期</label>
                        </div>
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.MatchDate, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group" id="Winner1TR">
                        <div class="col-md-2">
                            <label>胜者1</label>
                        </div>
                        <div class="col-md-4">
                            @Html.DropDownList("Winner1List", this.Model.SearchMemberList, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group" id="Winner2TR">
                        <div class="col-md-2">
                            <label>胜者2</label>
                        </div>
                        <div class="col-md-4">
                            @Html.DropDownList("Winner2List", this.Model.SearchMemberList, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group" id="WinnerPointsTR">
                        <div class="col-md-2">
                            <label>胜者分数</label>
                        </div>
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.WinnerPoints, new { @class = "form-control" })
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-2">
                            <label>提交者</label>
                        </div>
                        <div class="col-md-4">
                            @Html.DropDownList("InputPersonList", this.Model.SearchMemberList, new { @class = "form-control" })
                        </div>
                    </div>


                    <div class="form-group" id="Loser1TR">
                        <div class="col-md-2">
                            <label>败者1</label>
                        </div>
                        <div class="col-md-4">
                            @Html.DropDownList("Loser1List", this.Model.SearchMemberList, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group" id="Loser2TR">
                        <div class="col-md-2">
                            <label>败者2</label>
                        </div>
                        <div class="col-md-4">
                            @Html.DropDownList("Loser2List", this.Model.SearchMemberList, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group" id="LoserPointsTR">
                        <div class="col-md-2">
                            <label>败者分数</label>
                        </div>
                        <div class="col-md-4">
                            @Html.TextBoxFor(m => m.LoserPoints, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-lg-offset-4 col-sm-offset-12 col-md-2 col-xs-12">
                    <button class=" btn btn-info btn-block" onclick="addMatch()">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<div id="AddMatchDialog" title="Input Match" hidden="hidden">
    <p>
        <br />
        This Match will be upload,<br />
        Are you sure ?
        <br />
        <br />
    </p>
</div>
<div style="display: none" id="AddMatchURL" requsturl="@Url.Action("AddMatch", "MatchInput")"></></div>




