@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Wicresoft.BadmintonSystem.Wap.Models.MatchInput.MatchInputModel
@section scripts{
    @Scripts.Render("~/Scripts/MatchInput/MatchInputJS.js")
}

<br />
@{Html.RenderPartial("Tip", this.Model);}

<div style="display:none">
    @Html.DropDownList("ChompionshipCompetingTypeList", this.Model.ChampionshipCompetingTypeList)
    @Html.DropDownList("SelectCompetingType", this.Model.CompetingList)
    @Html.DropDownList("MemberList", this.Model.SearchMemberList);
    @Html.DropDownList("MaleMemberList", this.Model.SearchMaleMemberList);
    @Html.DropDownList("FemaleMemberList", this.Model.SearchFemaleMemberList);
</div>
@using (Html.BeginForm("AddMatch", "MatchInput", FormMethod.Post))
{
    <div class="form-horizontal">
        <div class="form-group">
            <span class="col-md-1">选择赛事</span>
            <div class="col-md-7">
                @Html.DropDownListFor(m => m.ChampionshipID, this.Model.TrueActiveChampionshipList, new { onchange = "setCompetingType()", @class = "form-control" })
            </div>
        </div>
    </div>

    <div id="inputFeild" class="panel panel-primary" hidden="hidden">
        <div class="panel-heading text-center">
            <b id="CompetingType"></b>&nbsp;&nbsp;<img src="~/Content/images/wing.png" height="40" width="40" />
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="form-horizontal">
                        <div class="form-group">

                            <label class="col-sm-2 required">比赛日期</label>

                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.MatchDate, new { @type = "datetime", @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group" id="Winner1TR">

                            <label class="col-sm-2 required">胜者1</label>

                            <div class="col-md-4">
                                @Html.DropDownListFor(m => m.Winner1ID, this.Model.SearchMemberList, new { @required = "required", @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group" id="Winner2TR">

                            <label class="col-sm-2 required">胜者2</label>

                            <div class="col-md-4">
                                @Html.DropDownListFor(m => m.Winner2ID, this.Model.SearchMemberList, new { @required = "required", @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group" id="WinnerPointsTR">

                            <label class="col-sm-2 required">胜者分数</label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(m => m.WinnerPoints, this.Model.ScoreList2, new { @required = "required", @class = "form-control" })
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="form-horizontal">
                        <div class="form-group">

                            <label class="col-sm-2 required">提交者</label>

                            <div class="col-md-4">
                                @Html.DropDownListFor(m => m.InputPersonID, this.Model.SearchMemberList, new { @required = "required", @class = "form-control" })
                            </div>
                        </div>


                        <div class="form-group" id="Loser1TR">

                            <label class="col-sm-2 required">败者1</label>

                            <div class="col-md-4">
                                @Html.DropDownListFor(m => m.Loser1ID, this.Model.SearchMemberList, new { @required = "required", @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group" id="Loser2TR">

                            <label class="col-sm-2 required">败者2</label>

                            <div class="col-md-4">
                                @Html.DropDownListFor(m => m.Loser2ID, this.Model.SearchMemberList, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group" id="LoserPointsTR">
                            <label class="col-sm-2 required">败者分数</label>
                            <div class="col-md-4">
                                @Html.DropDownListFor(m => m.LoserPoints, this.Model.ScoreList2, new { @required = "required", @type = "number", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-lg-offset-4 col-sm-offset-12 col-md-2 col-xs-5">
                        <input class=" btn btn-primary btn-block" value="保存" type="submit" />
                    </div>
                </div>
            </div>

        </div>

    </div>

}

<script src="~/Scripts/dist/lib/datetimepicker/datetimepicker.min.js"></script>




