@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_NLayout.cshtml";
}
@model Wicresoft.MODLibrarySystem.WebUI.Models.Register.RegisterModel
@section scripts{
    @Scripts.Render("~/Scripts/RegisterJS/RegisterUserRegister.js")
}
<h2>Register</h2>

@using (Html.BeginForm())
{
    <div class="jumbotron">
        <table>
            <caption>
                Register
                @if (this.Model.ErrorState)
                {
                    <span style="color:red">@this.Model.StateMessage</span>
                }
            </caption>
            <tbody>
                <tr>
                    <th>DisplayName</th>
                    <td>
                        @Html.TextBoxFor(m => m.DisplayName) <span class="requireSpan">*</span>
                        <label id="DisplayName_errorData" errordatamessage="DisplayName is require and length must be less than 6 bytes." class="errorLable" />

                    </td>
                </tr>
                <tr>
                    <th>RealName</th>
                    <td>
                        @Html.TextBoxFor(m => m.RealName) <span class="requireSpan">*</span>
                        <label id="RealName_errorData" errordatamessage="RealName is require." class="errorLable" />
                    </td>

                </tr>
                <tr>
                    <th>LoginName</th>
                    <td>
                        @Html.TextBoxFor(m => m.LoginName) <span class="requireSpan">*</span>
                        <label id="LoginName_errorData" errordatamessage="LoginName is require." class="errorLable" />
                    </td>
                </tr>
                <tr>
                    <th>Password</th>
                    <td>
                        @Html.TextBoxFor(m => m.Password, new { @id="Password", @type = "password" }) <span class="requireSpan">*</span>
                        <label id="Password_errorData" errordatamessage="Password is require." class="errorLable" />
                    </td>
                </tr>
                <tr>
                    <th>Confirm Password</th>
                    <td>
                        <input type="password" id="rePassword" /><span class="requireSpan">*</span>
                        <label id="rePassword_errorData" class="errorLable" />
                    </td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>
                        @Html.TextBoxFor(m => m.Email, new Dictionary<string, object>() { { "readonly", "true" } }) <span class="requireSpan">*</span>
                        <label id="Email_errorData" errordatamessage="Email is require and must be a email address." class="errorLable" />
                    </td>
                </tr>
                <tr>
                    <th>Wechat</th>
                    <td>@Html.TextBoxFor(m => m.Wechat)</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Register" />
                        @Html.ActionLink("Back", "Index", "Login")
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
}
