@{
    ViewBag.Title = "EditPublisher";
}
@model Wicresoft.MODLibrarySystem.Web.Models.PublisherManage.PublisherModel

@section scripts{
    @Scripts.Render("~/Scripts/PublisherManageJS/EditPublisher.js")
}

<h2>EditPublisher</h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.ID)
    <div class="jumbotron">
        <table>
            <caption>
                Edit Publisher
                @if (this.Model.ErrorState)
                {
                    <span style="color:red">@this.Model.StateMessage</span>
                }
            </caption>
            <tbody>
                <tr>
                    <th>Name</th>
                    <td>
                        @Html.TextBoxFor(m => m.PublisherName) <span class="requireSpan">*</span>
                        <label id="PublisherName_errorData" errordatamessage="PublisherName is required and can not include illegal char, shorter than 50." class="errorLable" />
                    </td>
                </tr>
                <tr>
                    <th>Introduction</th>
                    <td>@Html.TextBoxFor(m => m.PublisherIntroduction)</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Edit" />
                        @Html.ActionLink("Back", "Index")
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
}
