@{
    ViewBag.Title = "Publisher Manage";
}

@model Wicresoft.MODLibrarySystem.Web.Models.PublisherManage.PublisherManageIndexModel

@using (Html.BeginForm())
{
    <div class="jumbotron">
        <div>
            <span>Name</span>
            @Html.TextBoxFor(m => m.FilterName)
            <input type="submit" value="Search" />
        </div>
        <table style="border-color:gray;border:1px;">
            <caption>System Publisher List</caption>
            <thead>
                <tr>
                    <td colspan="4">
                        @Html.ActionLink("Add", "AddPublisher")
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Introduction
                    </th>
                    <th>
                        Operation
                    </th>
                </tr>
                @foreach (var item in this.Model.PublisherModelList)
                {
                    <tr>
                        <td>
                            @item.ID
                        </td>
                        <td>
                            @item.PublisherName
                        </td>
                        <td>
                            @item.PublisherIntroduction
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "EditPublisher", new { @id = item.ID })
                            @Html.ActionLink("Delete", "DeletePublisher", new { @id = item.ID })
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" align="right">@Html.Raw(this.Model.PagingContent.PagingViewContent)</td>
                </tr>
            </tfoot>
        </table>
    </div>
}

