@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Wicresoft.MODLibrarySystem.Web.Models.RentManage.RentManageIndexModel
@section scripts{
    @Scripts.Render("~/Scripts/RentManageJS/RentIndexJS.js")
}

@using (Html.BeginForm())
{
    <div class="jumbotron">
        <div class="accordion" id="accordion2">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                        User Request
                    </a>
                </div>
                <div id="collapseOne" class="accordion-body collapse in">
                    <div class="accordion-inner">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    @if (this.Model.UserRequestList.Count >= 5)
                                    {
                                        <td colspan="7" align="right">
                                            @Html.ActionLink("More", "UserRequestMore", "RentManage")
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <th>Title</th>
                                    <th>Author</th>
                                    <th>Publish</th>
                                    <th>UserName</th>
                                    <th>Email</th>
                                    <th>Floor</th>
                                    <th>Operation</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in this.Model.UserRequestList)
                                {
                                    string approveButtonId = "approveuserRequestButton" + @item.ID.ToString();
                                    string rejectButtonId = "rejectuserRequestButton" + @item.ID.ToString();
                                    <tr>
                                        <td id="requestid" style="display:none">
                                            @item.ID
                                        </td>
                                        <td>
                                            @item.Title
                                        </td>
                                        <td>
                                            @item.Author
                                        </td>
                                        <td>
                                            @item.Publish
                                        </td>
                                        <td>
                                            @item.UserName
                                        </td>
                                        <td>
                                            @item.Email
                                        </td>
                                        <td>
                                            @item.Floor
                                        </td>
                                        <td>
                                          @if (item.IsRejected)
                                          {
                                            <button class="btn btn-inverse" disabled='' disabled">Approve</button>
                                            <button class="btn btn-inverse" disabled='' disabled">Reject</button>
                                          }
                                          else
                                          {
                                            <a class="btn btn-primary" id=@approveButtonId role="button" onclick="approveUserRequestButton(@item.ID);">Approve</a>
                                            <a class="btn btn-primary" id=@rejectButtonId role="button" onclick="rejectUserRequestDialogShow(@item.ID);">Reject</a>
                                          }
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                    Waiting For Take
                </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                @if (this.Model.WaitingForTakeModelList.Count >= 5)
                                {
                                    <td colspan="5" align="right">
                                        @Html.ActionLink("More", "WaitingForTakeMore", "RentManage")
                                    </td>
                                }
                            </tr>
                            <tr>
                                <th>Title</th>
                                <th>UserName</th>
                                <th>Email</th>
                                <th>Floor</th>
                                <th>Operation</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in this.Model.WaitingForTakeModelList)
                            {
                                string takeButtonId = "takeWaitingForTakeButton" + @item.ID.ToString();
                                string revoketButtonId = "revokeWaitingForTakeButton" + @item.ID.ToString();
                                <tr>
                                    <td id="take_revokeid" style="display:none">
                                        @item.ID
                                    </td>
                                    <td>
                                        @item.Title
                                    </td>
                                    <td>
                                        @item.UserName
                                    </td>
                                    <td>
                                        @item.Email
                                    </td>
                                    <td>
                                        @item.Floor
                                    </td>
                                    <td>
                                        <a class="btn btn-primary" id=@takeButtonId role="button" onclick="takeWaitingForTakeButton(@item.ID);">Take</a>
                                        <a class="btn btn-primary" id=@revoketButtonId role="button" onclick="revokeWaitingForTakeButton(@item.ID);">Revoke</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                    Waiting For Return
                </a>
            </div>
            <div id="collapseThree" class="accordion-body collapse">
                <div class="accordion-inner">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                @if (this.Model.WaitingForReturnModelList.Count >= 5)
                                {
                                    <td colspan="5" align="right">
                                        @Html.ActionLink("More", "WaitingForReturnMore", "RentManage")
                                    </td>
                                }
                            </tr>
                            <tr>
                                <th>Title</th>
                                <th>UserName</th>
                                <th>Expiration Day</th>
                                <th>Delay</th>
                                <th>Operation</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in this.Model.WaitingForReturnModelList)
                            {
                                string returnButtonId = "returnWaitingForReturnButton" + @item.ID.ToString();
                                <tr>
                                    <td id="returnid" style="display:none">
                                        @item.ID
                                    </td>
                                    <td>
                                        @item.Title
                                    </td>
                                    <td>
                                        @item.UserName
                                    </td>
                                    <td>
                                        @item.ExpirationDay
                                    </td>
                                    <td>
                                        @item.Delay
                                    </td>
                                    <td>
                                        <a class="btn btn-primary" id=@returnButtonId onclick="returnWaitingForReturnButton(@item.ID);" role="button">Return</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                    Rent History
                </a>
            </div>
            <div id="collapseFour" class="accordion-body collapse">
                <div class="accordion-inner">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                @if (this.Model.ReadHistoryModelList.Count >= 5)
                                {
                                    <td colspan="4" align="right">
                                        @Html.ActionLink("More", "RentHistoryMore", "RentManage")
                                    </td>
                                }
                            </tr>
                            <tr>
                                <th>Title</th>
                                <th>UserName</th>
                                <th>Rent Date(From)</th>
                                <th>Rent Date(To)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in this.Model.ReadHistoryModelList)
                            {
                                <tr>
                                    <td>
                                        @item.Title
                                    </td>
                                    <td>
                                        @item.UserName
                                    </td>
                                    <td>
                                        @item.RentDateFrom
                                    </td>
                                    <td>
                                        @item.RentDateTo
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <div id="RejectUserRequestDialog" title="Reject item">
        <p>
            You will reject this request. Please input your reason.<br />
            <br />
            <input type="checkbox" id="setThisBookError" />Mark this book's status as "Error".
            <br />
            <br />
            <textarea id="commentsOfReject" style="width:400px; height:100px"></textarea>
        </p>
    </div>

    <div id="ApproveUserRequestDialog" title="Approve item">
        <p>
            <br />
            You will approve this request, please input your comment.<br />
            <br />
            <br />
            <textarea id="commentsOfApprove" style="width:600px; height:150px">
                Please come to take you requested book before next Wednesday,
                Location is at the OF door,  West 3 Floor.
            </textarea>
        </p>
    </div>

    <div id="TakeWaitingForTakeDialog" title="Confirm Dialog">
        <p>
            <br />
            This item will be edit and can not be recover.<br />
            Are you sure user has already taken this book?
            <br />
            <br />
        </p>
    </div>

    <div id="RevokeWaitingForTakeDialog" title="Confirm Dialog">
        <p>
            <br />
            This item will be edit and can not be recover.<br />
            Are you sure user hasn't taken this book in time?
            <br />
            <br />
        </p>
    </div>

    <div id="ReturnWaitingForReturnDialog" title="Confirm Dialog">
        <p>
            <br />
            This item will be edit and can not be recover.<br />
            Are you sure user has return this book in time?
            <br />
            <br />
        </p>
    </div>

    <div style="display: none" id="RejectUserRequestURL" requsturl="@Url.Action("RejectUserRequest", "RentManage")"></div>
    <div style="display: none" id="ApproveUserRequestURL" requsturl="@Url.Action("ApproveUserRequest", "RentManage")"></div>
    <div style="display: none" id="TakeWaitingForTakeURL" requsturl="@Url.Action("TakeWaitingForTake", "RentManage")"></div>
    <div style="display: none" id="RevokeWaitingForTakeURL" requsturl="@Url.Action("RevokeWaitingForTake", "RentManage")"></div>
    <div style="display: none" id="ReturnWaitingForReturnURL" requsturl="@Url.Action("ReturnWaitingForReturn", "RentManage")"></div>

}
