@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Badminton.Models.MatchVerify.MatchVerifyIndexModel

@section scripts{
    @Scripts.Render("~/Scripts/MatchVerify/MatchVerifyJS.js")
}
<br />

    <div class="jumbotron">
        <div class="accordion" id="accordion2">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                        等待审核的比赛数据
                    </a>
                </div>
                <div id="collapseOne" class="accordion-body collapse in">
                    <div class="accordion-inner">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>提交人</th>
                                    <th>比赛时间</th>
                                    <th>所属赛事</th>
                                    <th>比分</th>
                                    <th>获胜选手1</th>
                                    <th>获胜选手2</th>
                                    <th>失败选手1</th>
                                    <th>失败选手2</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in this.Model.WaitingForVerifyList)
                                {
                                    <tr>
                                        <td id="requestid" style="display:none">
                                            @item.ID
                                        </td>
                                        <td>
                                            @item.InputPersonName
                                       </td>
                                        <td>
                                            @item.MatchDate
                                        </td>
                                        <td>
                                            @item.ChampionshipTitle
                                        </td>
                                        <td>
                                            @item.WinLosePoints
                                        </td>
                                        <td>
                                            @item.Winner1Name
                                        </td>
                                        <td>
                                            @item.Winner2Name
                                        </td>
                                        <td>
                                            @item.Loser1Name
                                        </td>
                                        <td>
                                            @item.Loser2Name
                                        </td>
                                        <td>
                                            <a class="btn btn-primary" onclick="deleteMatch(@item.ID);" role="button">Delete</a>
                                            <a class="btn btn-primary" onclick="validMatch(@item.ID);" role="button">Valid</a>                                            
                                        </td>
                                        
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                    以下比赛可以去计算积分
                </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>提交人</th>
                                <th>比赛时间</th>
                                <th>所属赛事</th>
                                <th>比分</th>
                                <th>获胜选手1</th>
                                <th>获胜选手2</th>
                                <th>失败选手1</th>
                                <th>失败选手2</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in this.Model.WaitingForScoreList)
                            {
                                <tr>
                                    <td id="requestid" style="display:none">
                                        @item.ID
                                    </td>
                                    <td>
                                        @item.InputPersonName
                                    </td>
                                    <td>
                                        @item.MatchDate
                                    </td>
                                    <td>
                                        @item.ChampionshipTitle
                                    </td>
                                    <td>
                                        @item.WinLosePoints
                                    </td>
                                    <td>
                                        @item.Winner1Name
                                    </td>
                                    <td>
                                        @item.Winner2Name
                                    </td>
                                    <td>
                                        @item.Loser1Name
                                    </td>
                                    <td>
                                        @item.Loser2Name
                                    </td>
                                    <td>                                    
                                        
                                        <a class="btn btn-primary" onclick="notValidMatch(@item.ID);" role="button">Not Valid</a>
                                    </td>
                                  </tr>                          
                            }                        
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </div>

    

    <div style="display: none" id="DeleteMatchURL" requsturl="@Url.Action("DeleteMatch", "MatchVerify")"></div>
    <div style="display: none" id="ValidMatchURL" requsturl="@Url.Action("ValidMatch", "MatchVerify")"></div>
    <div style="display: none" id="NotValidMatchURL" requsturl="@Url.Action("NotValidMatch", "MatchVerify")"></div>

<div id="DeleteMatchDialog" title="Confirm Dialog">
    <p>
        <br />
        This Match will be removed and can not be recover.<br />
        Are you sure ?
        <br />
        <br />
    </p>
</div>

<div id="ValidMatchDialog" title="Confirm Dialog">
    <p>
        <br />
        This Match record is acceptable?
        <br />
        <br />
    </p>
</div>

<div id="NotValidMatchDialog" title="Confirm Dialog">
    <p>
        <br />
        This Match record isn't acceptable?
        <br />
        <br />
    </p>
</div>