<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MOD Badminton</title>
    @Styles.Render("~/Scripts/dist/css/zui.min.css")
    
    @Styles.Render("~/Scripts/dist/css/zui-theme.css")
    <link href="~/scripts/dist/lib/datatable/zui.datatable.min.css" rel="stylesheet" />
    @Scripts.Render("~/Scripts/dist/lib/jquery/jquery.js")
    @Scripts.Render("~/Scripts/dist/js/zui.min.js")
    <script src="~/scripts/dist/lib/datatable/zui.datatable.min.js"></script>
    @Scripts.Render("~/Scripts/shorttable.js")
    
    @RenderSection("scripts", required: false)

    
    <style>

        .bgBadminImgBottom {
            background: url(/Content/images/PlayBadmin.png) bottom right no-repeat;
        }

        .bgBadminImgTop {
            background: url(/Content/images/PlayBadmin2.png) top left no-repeat;
        }
    </style>

</head>
<body class="bgBadminImgBottom">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <!-- 导航头部 -->
            <div class="navbar-header">
                <!-- 移动设备上的导航切换按钮 -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-example">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- 品牌名称或logo -->
                <a class="navbar-brand" href="/Home/Index">MOD Badminton Group</a>
            </div>
            <!-- 导航项目 -->
            <div class="collapse navbar-collapse navbar-collapse-example">
                <!-- 一般导航项目 -->
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("比赛录入", "Index", "MatchInput", null, null)</li>
                    <li>@Html.ActionLink("排行榜", "Index", "ScoreList", null, null)</li>
                
                  
               
                </ul>
                @Html.Action("LoginUserDisplay", "Home")
            </div><!-- END .navbar-collapse -->
        </div>
    </nav>
    @*<div class="nav nav-primary">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/Home/Index">M<img src='/Content/images/Badmin.png' height="20" />D Badminton Group</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav text-primary">
                    <li>@Html.ActionLink("比赛录入", "Index", "MatchInput", null, null)</li>
                    <li>@Html.ActionLink("排行榜", "Index", "ScoreList", null, null)</li>
                    <li>@Html.ActionLink("数据管理", "Index", "DataManage", null, null)</li>
                    <li>@Html.ActionLink("录入数据审核", "Index", "MatchVerify", null, null)</li>
                    <li>@Html.ActionLink("积分计算", "Index", "ScoreCalc", null, null)</li>
                </ul>
                @Html.Action("LoginUserDisplay", "Home")
            </div>
        </div>
    </div>*@
    <div class="bgBadminImgTop" style="width:100%">
        <div class="container body-content">
           
            @RenderBody()
            <hr />
            <footer>
                <center><p>&copy; @DateTime.Now.Year - MOD Badminton Group Management</p></center>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/Scripts/ui/jquery-ui.js")
    @Scripts.Render("~/Scripts/ui/jquery.ui.core.js")
    @Scripts.Render("~/Scripts/ui/jquery.ui.widget.js")

</body>
</html>
