@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model  Badminton.Models.Login.ResetPasswordModel
@section scripts{
    @Scripts.Render("~/Scripts/LoginJS/ResetPasswordJS.js")
}
<h2>@ViewBag.Title.</h2>
<hr />
<div class="row">
    <div class="col-md-8">
        <section id="ModifyPasswordForm">
            @using (Html.BeginForm())
            {
                <div class="form-group">
                    <div class="row">
                        <label class="col-md-2 control-label">当前密码</label>
                        <div class="col-md-5">
                            @Html.TextBoxFor(m => this.Model.CurrentPassword, new { @type = "password", @class = "form-control", required = "true", MinLength = 6, MaxLength = 20 })

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-md-2 control-label">新密码</label>
                        <div class="col-md-5">
                            @Html.TextBoxFor(m => this.Model.NewPassword, new { @pattern = ".{6,20}", @title = "6 to 20 characters", @type = "password", @class = "form-control", required = "true", MaxLength = 20 })

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-md-2 control-label">再次输入新密码</label>
                        <div class="col-md-5">
                            @Html.TextBoxFor(m => this.Model.ConfirmPassword, new { @pattern = ".{6,20}", @title = "6 to 20 characters", @type = "password", @class = "form-control", required = "true", MaxLength = 20 })
                            <div id="message"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8">
                            <input type="submit" value="Reset" class="btn btn-block btn-primary" id="Submit" />
                        </div>
                    </div>
                </div>
            }
        </section>
    </div>
</div>
