<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mod-Library</title>
    @Scripts.Render("~/Scripts/jquery-1.10.2.js")
    @Scripts.Render("~/Scripts/ui/jquery-ui.js")
    @Scripts.Render("~/Scripts/ui/jquery.ui.core.js")
    @Scripts.Render("~/Scripts/ui/jquery.ui.widget.js")
    @Scripts.Render("~/Scripts/baseWebAPP.js")
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/themes/base/jquery.ui.all.css")
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MOD Library", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Books Store", "Index", "BookManage", null, null)</li>
                    <li>@Html.ActionLink("Rent Manage", "Index", "RentManage", null, null)</li>
                    <li>@Html.ActionLink("About", "About", "Home", null, null)</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", null, null)</li>
                </ul>
            </div>
            <div class="navbar-collapse collapse">
                @Html.Action("LoginUserDisplay", "Home")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MOD Dev Application</p>
        </footer>
    </div>
</body>
</html>
