@model Wicresoft.MODLibrarySystem.Wap.Models.BookManage.BookModel

@{
    ViewBag.Title = "BookDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/bootstrap.css")
@using (Html.BeginForm())
{
    <div class="margin_top5">
        <div class="row">
            <div class="col-xs-12">
                <p class="text-center">
                    <img id="img_height" class="img-responsive img-thumbnail" src="~/Content/images/DefaultPic.jpg" />
                </p>
            </div>
        </div>
        <hr />
        <div>
            <p>
                @this.Model.BookName
            </p>
            <p>
                Avaliable: @this.Model.Avaliable_Inventory
            </p>
        </div>
        <hr />
        <p class="text-center">Book Detail</p>
        <div class="row margin_top5">
            <div class="col-xs-12 ">
                <table class="table">
                    <tr>
                        <th>
                            @Html.Label("Book Name")
                        </th>
                        <td align="right">
                            @this.Model.BookName
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.Label("Author")
                        </th>
                        <td align="right">
                            @this.Model.AuthorName
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.Label("Price")
                        </th>
                        <td align="right">
                            @this.Model.Price_Inventory
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.Label("Catagory")
                        </th>
                        <td align="right">
                            @this.Model.CatagoryName
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.Label("ISBN")
                        </th>
                        <td align="right">
                            @this.Model.ISBN
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.Label("Publisher")
                        </th>
                        <td align="right">
                            @this.Model.PublisherName
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.Label("PublishDate")
                        </th>
                        <td align="right">
                            @this.Model.Publish_Date
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.Label("MaxAvaliable")
                        </th>
                        <td align="right">
                            @this.Model.Max_Inventory
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <hr />
        <div class="row margin_top5">
            <div class="col-xs-12">
                <div>
                    @Html.Label("Publisher Description")
                </div>
                <div>
                    @this.Model.PublisherDisplayDescription
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <p class="col-xs-12 goback" >
            <a href="javascript:;" onclick="javascript: history.back(-1)"><img id="gobackimg" src="~/Content/images/goback.png" /></a>
        </p>
    </div>
    <div class="row">
        <div class="col-xs-12">
            @if (this.Model.IsAvaliable)
            {
                @Html.ActionLink("Reserve", "BookToRent", "PersonalCenter", new { @id = this.Model.ID }, new {@class = "btn btn-success btn-width" })
            }
            else
            {
                <span style="color:gray">Inventory shortage</span>
            }
        </div>
    </div>
}
