@{
    ViewBag.Title = "Book Search";
}
@model Wicresoft.MODLibrarySystem.Wap.Models.BookManage.BookManageIndexModel
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("/Scripts/BookManageJS/bookManage.js")
<link href="~/Content/bootstrap.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    <div class="container" id="bookList">
        <form class=" form-inline margin_top5">
            <div class="form-group row">
                <div id="search" class="col-xs-9">
                    @Html.TextBoxFor(m => m.SearchBookName, new { @placeholder = "Enter Book Name", @class = "form-control" })
                </div>
                <div class="col-xs-3">
                    <button class="btn btn-default">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div id="option" class="container">
                <div class="row">
                    <div class="form-group">
                        @Html.DropDownListFor(m => m.SearchSelectedID, this.Model.SearchCategoryList, new { @class = "btn btn-group-lg btn-default dropdown-toggle" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group  col-xs-12">
                        <span>Can be Reserve</span> @Html.CheckBoxFor(m => m.IsAvaliable)
                    </div>
                </div>
            </div>
        </form>
        <div>
            <p class="text-center">
                <img src="~/Content/images/loading_16_16.gif" id="Load1" />
            </p>
            <div id="header"></div>
            <p class="text-center">
                <img src="~/Content/images/loading_16_16.gif" id="Load2" />
            </p>
        </div>
    </div>
}


